.div-inputs-pedidos{
	width:33.3%;
}

.mat-form-field{
	width:90%;
	margin:auto;
	display: block
}

.input-orden-servicio{
	width:100%;
	max-width:400px;
	display: block;
	margin:auto;
}


.d-block{
	display:block;
}

.d-flex{
	display:flex;
}

.w-50{
	width:50%;
}

.text-center{
	text-align: center
}

.mt-2{
  margin: 0.5rem !important;

}

.mt-3{
  margin: 1rem !important;

}

.m-auto{
	margin:auto;
}


.p-3 {
  padding: 1rem !important;
}