<mat-card>
    <h2 class="text-center">Flete Cliente (Valor Minimo de Venta)</h2>

    <div class="d-flex justify-beetween">
    	<mat-form-field class="p-10 inputs-flete-clientes mat-form-field" >
				<mat-label>Clase de Vehiculo</mat-label>
			<mat-select>
				<mat-option value="">Cars1</mat-option>
				<mat-option value="">Cars2</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="p-10 inputs-flete-clientes mat-form-field" >
			<mat-label>Carroceria</mat-label>
			<mat-select>
				<mat-option value="">drive4</mat-option>
				<mat-option value="">driver5</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="p-10 inputs-flete-clientes mat-form-field">
			<mat-label>Valor</mat-label>
			<input matInput formControlName="descripcion"
				required type="number">
			
		</mat-form-field>

    </div>
    <!-- <hr> -->
    <h2 style="margin-top:10px; text-align:center">Flete conductor (valor maximo de compra)</h2>

	<div class="d-flex" style="width:100%">
		<h3 style="width:16%; text-align: center">Tipo de vinculacion</h3>
		<h3 style="width:28%; text-align: center">Costo</h3>
		<h3 style="width:28%; text-align: center">Vr. Max. Anticipo</h3>
		<h3 style="width:28%; text-align: center">% Max. Anticipio</h3>
	</div>

	<div class="" style="width:100%">
		<div style="width:100%; display:flex">
			<div style="width:16%">
				<mat-checkbox class="p-10 d-block m-auto text-center mt-3">Propio</mat-checkbox>	
			</div>
			<div style="width:28%">
				<mat-form-field class="p-10 d-block m-auto">
					<mat-label>Costo</mat-label>
					<input matInput formControlName="descripcion"
						required type="number">
					
				</mat-form-field>	
			</div>
			<div style="width:28%">
				<mat-form-field class="p-10 d-block m-auto">
					<mat-label>Vr. Max. Anticipo</mat-label>
					<input matInput formControlName="descripcion"
						required type="number">
					
				</mat-form-field>	
			</div>
			<div style="width:28%">
				<mat-form-field class="p-10 d-block m-auto">
					<mat-label>% Max. Anticipio</mat-label>
					<input matInput formControlName="descripcion"
						required type="number">
					
				</mat-form-field>	
			</div>
		</div>

		<div style="width:100%; display:flex">
			<div style="width:16%">
				<mat-checkbox class="p-10 d-block m-auto text-center mt-3">Socios</mat-checkbox>	
			</div>
			<div style="width:28%">
				<mat-form-field class="p-10 d-block m-auto">
					<mat-label>Costo</mat-label>
					<input matInput formControlName="descripcion"
						required type="number">
					
				</mat-form-field>	
			</div>
			<div style="width:28%">
				<mat-form-field class="p-10 d-block m-auto">
					<mat-label>Vr. Max. Anticipo</mat-label>
					<input matInput formControlName="descripcion"
						required type="number">
					
				</mat-form-field>	
			</div>
			<div style="width:28%">
				<mat-form-field class="p-10 d-block m-auto">
					<mat-label>% Max. Anticipio</mat-label>
					<input matInput formControlName="descripcion"
						required type="number">
					
				</mat-form-field>	
			</div>
		</div>

		<div style="width:100%; display:flex">
			<div style="width:16%">
				<mat-checkbox class="p-10 d-block m-auto text-center mt-3">Terceros</mat-checkbox>	
			</div>
			<div style="width:28%">
				<mat-form-field class="p-10 d-block m-auto">
					<mat-label>Costo</mat-label>
					<input matInput formControlName="descripcion"
						required type="number">
					
				</mat-form-field>	
			</div>
			<div style="width:28%">
				<mat-form-field class="p-10 d-block m-auto">
					<mat-label>Vr. Max. Anticipo</mat-label>
					<input matInput formControlName="descripcion"
						required type="number">
					
				</mat-form-field>	
			</div>
			<div style="width:28%">
				<mat-form-field class="p-10 d-block m-auto">
					<mat-label>% Max. Anticipio</mat-label>
					<input matInput formControlName="descripcion"
						required type="number">
					
				</mat-form-field>	
			</div>
		</div>


		
	</div>
</mat-card>